# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/

# Translations
*.mo
*.pot

# Django stuff:
*.log
local_settings.py

# Flask stuff:
instance/
.webassets-cache

# Scrapy stuff:
.scrapy

# Sphinx documentation
docs/_build/

# PyBuilder
target/

# Jupyter Notebook
.ipynb_checkpoints

# pyenv
.python-version

# celery beat schedule file
celerybeat-schedule

# SageMath parsed files
*.sage.py

# dotenv
.env

# virtualenv
.venv
venv/
ENV/

# Spyder project settings
.spyderproject
.spyproject

# Rope project settings
.ropeproject

# mkdocs documentation
/site

# mypy
.mypy_cache/

.vagrant
egc/bin/activate.csh
egc/bin/activate.fish
egc/bin/chardetect
egc/bin/coverage
egc/bin/coverage-3.8
egc/bin/coverage3
egc/bin/django-admin
egc/bin/django-admin.py
egc/bin/easy_install
egc/bin/easy_install-3.8
egc/bin/epylint
egc/bin/f2py
egc/bin/f2py3
egc/bin/f2py3.8
egc/bin/flask
egc/bin/isort
egc/bin/locust
egc/bin/nosetests
egc/bin/nosetests-3.4
egc/bin/pip
egc/bin/pip3
egc/bin/pip3.8
egc/bin/pylint
egc/bin/pyreverse
egc/bin/python
egc/bin/python3
egc/bin/symilar
egc/include/site/python3.8/greenlet/greenlet.h
egc/bin/activate.csh
egc/bin/activate.fish
egc/bin/chardetect
egc/bin/coverage
egc/bin/coverage-3.8
egc/bin/coverage3
egc/bin/django-admin
egc/bin/django-admin.py
egc/bin/easy_install
egc/bin/easy_install-3.8
egc/bin/f2py
egc/bin/f2py3
egc/bin/f2py3.8
egc/bin/nosetests
egc/bin/nosetests-3.4
egc/bin/pip
egc/bin/pip3
egc/bin/pip3.8
egc/bin/python
egc/bin/python3
egc/bin/activate.csh
egc/bin/activate.fish
egc/bin/chardetect
egc/bin/coverage
egc/bin/coverage-3.8
egc/bin/coverage3
egc/bin/django-admin
egc/bin/django-admin.py
egc/bin/easy_install
egc/bin/easy_install-3.8
egc/bin/f2py
egc/bin/f2py3
egc/bin/f2py3.8
egc/bin/nosetests
egc/bin/nosetests-3.4
egc/bin/pip
egc/bin/pip3
egc/bin/pip3.8
egc/bin/python
egc/bin/python3
